.no-padding {
  padding-top: 0px;
  padding-bottom: 94px;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}
.no-padding__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.no-padding__devices {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}
.no-padding__devices .no-padding__item {
  margin-right: 30px;
}
.no-padding__devices .no-padding__item:last-child {
  margin-right: 0px;
}
.devices-overlay {
  background: var(--overlay-for-devices);
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}
.devices-overlay__applications {
  position: absolute;
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.no-padding__devices .no-padding__item {
  position: relative;
}
