.people {
  @extend %section;
  background: var(--background-color3);
  display: flex;
  flex-wrap: wrap;
}
.people__list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
    flex-wrap: nowrap;
  }
}
.people__list .people__item {
  display: block;
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow-people);
  border-radius: var(--border-radius-people);

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.people__title-teams {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.item-list__paragraph {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.item-list__title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.item-list {
  padding: 30px 0px;
}
.social-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-list .social-items {
  fill: var(--social-links);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-link:not(:nth-child(4n)) {
  margin-right: 10px;
}
.social-list .social-items:hover,
.social-list .social-items:focus {
  fill: var(--accent-color);
  background-color: var(--navigation-color);
}
