@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #fff;
  --address-color: rgba(255, 255, 255, 0.6);
  --navigation-color: #2196f3;
  --hover-navigation-color: #188ce8;
  --primary-white-color: #fff;
  --background-color: #2f303a;
  --background-color2: #f5f5f5;
  --background-color3: #f5f4fa;
  --logo-color: #000000;
  --button-border-portfolio: #eeeeee;
  --button-portfolio-bckgrn: #ffffff;
  --box-shadow-people: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --border-radius-people: 0px 0px 4px 4px;
  --social-links: #afb1b8;
  --overlay-for-devices: rgba(47, 48, 58, 0.8);
  --overlay-for-portfolio: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.44;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  vertical-align: top;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid teal;*/
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.social-menu, .menu-contacts_list, .menu, .poster, .btn-list, .clients__list, .social-list, .people__list, .no-padding__devices, .features__list, .footer-social__list, .footer__list, .contacts__list, .navigation__site {
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio, .clients, .people, .features, .hero-overlay {
  padding-bottom: 94px;
  padding-top: 94px;
}
@media screen and (max-width: 1200px) {
  .portfolio, .clients, .people, .features, .hero-overlay {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.portfolio-photos, .features__caption {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.page-header {
  background-color: var(--accent-color);
  border-bottom: 1px solid #ececec;
  position: relative;
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .navigation__site {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation__site {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__site {
    margin-left: 93px;
  }
}

.navigation__site .navigation__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__site .navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__site .navigation__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.navigation__site .navigation__link:hover, .navigation__site .navigation__link:focus {
  color: var(--navigation-color);
}

.navigation__site .active {
  position: relative;
  color: var(--navigation-color);
}
.navigation__site .active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--navigation-color);
  border-radius: 2px;
  /* transform-origin: left; 
  transform: scaleX(0);
  transition: transform 500ms var(--timing-function);
  transition також треба прибрати  */
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
@media screen and (max-width: 767px) {
  .contacts__list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.contacts__link {
  color: var(--secondary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms var(--timing-function), stroke 250ms var(--timing-function);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms var(--timing-function), stroke 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--navigation-color);
}

.contacts__icon {
  margin-right: 10px;
  margin-bottom: 0;
  padding: 0;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}
@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer-container {
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .footer__box {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    width: 231px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__list {
    text-align: center;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.city {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.city:focus, .city:hover {
  color: var(--navigation-color);
}

.footer__address {
  color: var(--address-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address:focus, .footer__address:hover {
  color: var(--navigation-color);
}

@media screen and (max-width: 1199px) {
  .footer-social {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-social__list {
    margin-bottom: 0;
  }
}

.footer-social__join {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-social__join {
    text-align: start;
  }
}

.footer-social .footer-social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.footer-social .footer-social__item:focus, .footer-social .footer-social__item:hover {
  background-color: var(--navigation-color);
}

.footer-social .footer-social__item {
  fill: var(--accent-color);
}

.footer-social__icon:not(:nth-child(4n)) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .subscribe-footer {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 570px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.subscribe-footer__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px 15px;
  color: var(--accent-color);
  background-color: transparent;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-footer__input {
    min-width: 358px;
    max-height: 50px;
    margin-bottom: 0;
  }
}

.subscribe-footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* HERO BUTTON */
.hero__button {
  border-radius: 4px;
  background-color: var(--navigation-color);
  color: var(--primary-white-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: block;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 216px;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-delay: 1s; */
  /* position: relative; */
  /* overflow: hidden; */
}
.hero__button:active {
  background-color: var(--primary-white-color);
  color: var(--navigation-color);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hover-navigation-color);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .hero__button {
    padding: 10px 24px;
  }
}

/* MENU BUTTON */
.portfolio__button {
  color: var(--primary-text-color);
  background: var(--background-color3);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.portfolio__button:active {
  background-color: var(--primary-white-color);
  color: var(--navigation-color);
}
.portfolio__button:hover, .portfolio__button:focus {
  color: var(--primary-white-color);
  background-color: var(--navigation-color);
}

/* MODAL BUTTON */
.button-submit {
  border-radius: 4px;
  background-color: var(--navigation-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.button-submit:hover, .button-submit:focus {
  background-color: var(--hover-navigation-color);
}

/* MODAL BUTTON  SUBMIT */
.subscribe-footer__button {
  border-radius: 4px;
  background-color: var(--navigation-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  margin-left: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 28px;
}
.subscribe-footer__button:hover, .subscribe-footer__button:focus {
  background-color: var(--hover-navigation-color);
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscribe-footer__button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 31px;
    padding-right: 28px;
    margin-left: 0;
  }
}

.subscribe-footer__icon {
  fill: var(--accent-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .subscribe-footer__icon {
    margin-left: 12px;
  }
}

/* Data-Modal */
.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 609px;
  max-width: 450px;
  padding: 40px;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .modal {
    width: 95%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    max-width: 528px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--accent-color);
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--hover-navigation-color);
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .modal__text {
    font-size: 20px;
    line-height: 1.5;
  }
}

.modal__form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px seagreen solid; */
}

.form-field {
  position: relative;
  /* outline: 1px solid red; */
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.form-field__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form-field__input {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  /* margin: 0;  */
  color: var(--primary-text-color);
  font: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:hover, .form-field__input:focus {
  outline: none;
  border-color: var(--navigation-color);
}
.form-field__input:hover + .form-field__icon, .form-field__input:focus + .form-field__icon {
  fill: var(--navigation-color);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form-field__comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  -webkit-transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.form-field__comment:hover, .form-field__comment:focus {
  outline: none;
  border-color: var(--navigation-color);
}

textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-form {
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .check-form {
    padding-left: 14px;
  }
}

.check-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  /* display: flex;
  align-items: center; */
}
@media screen and (max-width: 1199px) {
  .check-form__label {
    font-size: 12px;
    line-height: 1.16;
  }
}

.check-form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; */
}

.check-form__link {
  color: var(--navigation-color);
  margin-left: 4px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.check-form__link:hover {
  color: var(--hover-navigation-color);
}

.check-form__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 7px;
}

.check-form__checkbox:checked + .check-form__icon {
  background-color: var(--navigation-color);
  background-image: url("../images/icon.svg/check.svg");
  background-origin: border-box;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--navigation-color);
}

.page-header__logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (max-width: 1200px) {
  .page-header__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.page-header__logotype {
  color: var(--navigation-color);
}

.footer__logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .footer__logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.footer__logotype {
  color: var(--navigation-color);
}

.hero {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images.index/hero/header-tel1.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images.index/hero/header-tel1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images.index/hero/header-tel2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images.index/hero/header-tel2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images.index/hero/header-plan1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images.index/hero/header-plan1.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images.index/hero/header-plan2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images.index/hero/header-plan2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images.index/hero/headerdesktop1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images.index/hero/headerdesktop1.jpg");
    max-width: 1600px;
    min-height: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/images.index/hero/headerdesktop2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/images.index/hero/headerdesktop2x.jpg");
  }
}
.hero__title {
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}

.features__list .features__title {
  color: var(--primary-text-color);
}

.features__list {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}

.features__title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}

@media screen and (max-width: 767px) {
  .features__list .features__item:not(:nth-child(4n)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__list .features__item {
    width: 354px;
  }
}

.icon {
  height: 120px;
  background-color: var(--background-color3);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__paragraph {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.features__icon-info {
  margin: 25px 100px;
}

.no-padding {
  padding-top: 0px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .no-padding {
    display: none;
  }
}

.no-padding__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.no-padding__devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.no-padding__devices .no-padding__item {
  margin-right: 30px;
}

.no-padding__devices .no-padding__item:last-child {
  margin-right: 0px;
}

.devices-overlay {
  background: var(--overlay-for-devices);
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.devices-overlay__applications {
  position: absolute;
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.no-padding__devices .no-padding__item {
  position: relative;
}

.people {
  background: var(--background-color3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .people__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .people__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.people__list .people__item {
  display: block;
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--box-shadow-people);
          box-shadow: var(--box-shadow-people);
  border-radius: var(--border-radius-people);
}
@media screen and (min-width: 480px) {
  .people__list .people__item {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .people__list .people__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .people__list .people__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .people__list .people__item {
    width: 270px;
  }
}

.people__title-teams {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .people__title-teams {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.item-list__paragraph {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.item-list__title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.item-list {
  padding: 30px 0px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list .social-items {
  fill: var(--social-links);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-link:not(:nth-child(4n)) {
  margin-right: 10px;
}

.social-list .social-items:hover,
.social-list .social-items:focus {
  fill: var(--accent-color);
  background-color: var(--navigation-color);
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients__link {
  color: var(--social-links);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--social-links);
  border-radius: 4px;
  padding: 16px 52px;
  width: 210px;
  height: 92px;
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), color 250ms var(--timing-function), border-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  color: var(--navigation-color);
  border-color: var(--navigation-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    padding: 16px 32px;
    width: 170px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.client__icon {
  fill: currentColor;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .btn-list {
    max-width: 326px;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    row-gap: 15px;
  }
}
@media screen and (min-width: 768px) {
  .btn-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .btn-list__item:not(:last-child) {
    margin-right: 8px;
  }
}

.poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .poster {
    gap: 30px;
  }
}

.poster .poster__item {
  width: 450px;
  background-color: var(--button-portfolio-bckgrn);
}
.poster .poster__item:hover, .poster .poster__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .poster .poster__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .poster .poster__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .poster .poster__item {
    width: 370px;
  }
}

.border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
  height: 200;
}
@media screen and (min-width: 767px) {
  .border:nth-child(1) {
    padding-bottom: 54px;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.picture__name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.poster__item:hover .actions {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  /* opacity: 1; */
}

.actions {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-for-portfolio);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  /* opacity: 0; */
}

.picture__resource {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 63px;
  bottom: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.picture__text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}
@media screen and (min-width: 767px) and (max-width: 1200) {
  .picture__text:nth-child(1) {
    padding-bottom: 56px;
  }
}

.picture {
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
}

.button-menu__open,
.button-menu__close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .button-menu__open,
.button-menu__close {
    display: none;
  }
}
.button-menu__open:hover, .button-menu__open:focus,
.button-menu__close:hover,
.button-menu__close:focus {
  fill: #2196f3;
}

.button-menu__open {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button-menu__close {
  position: absolute;
  top: 21px;
  right: 25px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: white;
  z-index: 999;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu {
  text-decoration: none;
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.menu__link:focus, .menu__link:hover {
  color: var(--navigation-color);
}

.menu__link-current {
  color: var(--navigation-color);
}

.menu-contacts {
  margin-top: auto;
}

.menu__tell {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--navigation-color);
  text-decoration: none;
}

.menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 64px;
  text-decoration: none;
}

.menu-contacts__tell {
  margin-bottom: 32px;
}

.menu-contacts__mail {
  margin-bottom: 64px;
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.social-menu__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--navigation-color);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.social-menu__iteam + .social-menu__iteam {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */