:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #fff;
  --address-color: rgba(255, 255, 255, 0.6);
  --navigation-color: #2196f3;
  --hover-navigation-color: #188ce8;
  --primary-white-color: #fff;
  --background-color: #2f303a;
  --background-color2: #f5f5f5;
  --background-color3: #f5f4fa;
  --logo-color: #000000;
  --button-border-portfolio: #eeeeee;
  --button-portfolio-bckgrn: #ffffff;
  --box-shadow-people: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --border-radius-people: 0px 0px 4px 4px;
  --social-links: #afb1b8;
  --overlay-for-devices: rgba(47, 48, 58, 0.8);
  --overlay-for-portfolio: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.44;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  height: auto;
  vertical-align: top;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid teal;*/
}

/*Header*/
.page-header__logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  /* transition: text-decoration 250ms var(--timing-function); */
}
.page-header {
  background-color: var(--accent-color);
  border-bottom: 1px solid #ececec;
}

.page-header__logotype {
  color: var(--navigation-color);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.page-header__main-nav {
  display: flex;
  align-items: center;
}

/*Site nav*/

.navigation__site {
  margin-left: 93px;
  display: flex;
}
.navigation__site .navigation__item {
  align-items: center;
}

.navigation__site .navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__site .navigation__link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.navigation__site .navigation__link:hover,
.navigation__site .navigation__link:focus {
  color: var(--navigation-color);
}
.navigation__site .active {
  color: var(--navigation-color);
}
.navigation__site .active {
  position: relative;
}

.navigation__site .active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--navigation-color);
  border-radius: 2px;
  /* transform-origin: left; 
  transform: scaleX(0);
  transition: transform 500ms var(--timing-function);
   transition також треба прибрати  */
}
/* .site-nav .active:hover::after { 
  transform: scaleX(1);
} */
.contacts__list {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  transition: color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.contacts__list .contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts__list .contacts__link:hover,
.contacts__list .contacts__link:focus {
  color: var(--navigation-color);
}
.contacts__link {
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-bottom: 32px;
  padding-top: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms var(--timing-function), stroke 250ms var(--timing-function);
}
.contacts__icon {
  margin-right: 10px;
  margin-bottom: 0;
  padding: 0;
  fill: currentColor;
}

/*Hero*/
.hero__title {
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  margin: 0 auto 30px;
}

/*Section*/

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.hero {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  padding-bottom: 200px;
  padding-top: 200px;
}
.hero-overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/img.background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features__list .features__title {
  color: var(--primary-text-color);
}
.features__list {
  display: flex;
  flex-wrap: wrap;
}
.features__list .features__item {
  width: 270px;
  margin-right: 30px;
}
.features__list .features__item:last-child {
  margin-right: 0px;
}
.icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-color3);
  margin-bottom: 30px;
}
.features__paragraph {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.no-padding {
  padding-top: 0px;
  padding-bottom: 94px;
}

.no-padding__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}
.people__title-teams {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.features__icon-info {
  margin: 25px 100px;
}

.hero__button {
  border-radius: 4px;
  background-color: var(--navigation-color);
  color: var(--primary-white-color);
  font-family: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: block;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 10px 32px;
  min-width: 216px;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-delay: 1s; */
  /* position: relative; */
  /* overflow: hidden; */
}
.hero__button:hover,
.hero__button:focus {
  background-color: var(--hover-navigation-color);
}

.hero__button:active {
  background-color: var(--primary-white-color);
  color: var(--navigation-color);
}
.menu__button {
  color: var(--primary-text-color);
  background: var(--background-color3);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.menu__button:hover,
.menu__button:focus {
  color: var(--primary-white-color);
  background-color: var(--navigation-color);
  border-radius: 4px;
}
.menu__button:active {
  background-color: var(--primary-white-color);
  color: var(--navigation-color);
}
.picture__name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}
.menu .menu__item:not(:nth-child(5n)) {
  margin-right: 8px;
}
.picture {
  text-decoration: underline transparent;
}
.poster .item:hover,
.poster .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-list__paragraph {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.picture__text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}
.people {
  background: var(--background-color3);
  display: flex;
  flex-wrap: wrap;
}
.people__list {
  background: var(--background-color3);
  display: flex;
  flex-wrap: wrap;
}
.people__list .people__item {
  width: 270px;
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow-people);
  border-radius: var(--border-radius-people);
  margin-right: 30px;
}
.people__list .people__item:last-child {
  margin-right: 0px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-list .social-items {
  fill: var(--social-links);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .social-link:not(:nth-child(4n)) {
  margin-right: 10px;
}
.social-list .social-items:hover,
.social-list .social-items:focus {
  fill: var(--accent-color);
  background-color: var(--navigation-color);
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.no-padding__devices {
  display: flex;
  flex-wrap: wrap;
}
.no-padding__devices .item {
  margin-right: 30px;
}
.no-padding__devices .item:last-child {
  margin-right: 0px;
}
.devices-overlay {
  background: var(--overlay-for-devices);
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}
.devices-overlay__applications {
  position: absolute;
  padding: 27px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.no-padding__devices .item {
  position: relative;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.item-list__title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
/*Section regular-clients*/
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
.clients__link {
  color: var(--social-links);
  display: flex;
  border: 1px solid var(--social-links);
  border-radius: 4px;
  padding: 16px 32px;

  width: 170px;
  height: 92px;
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.clients__list {
  display: flex;
}
.client__icon {
  fill: currentColor;
}
.clients__list .clients__item:not(:nth-child(6n)) {
  margin-right: 30px;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--navigation-color);
  border-color: var(--navigation-color);
}
.clients__list .clients__item:hover,
.clients__list .clients__item:focus {
  fill: var(--navigation-color);
  border-color: var(--navigation-color);
}

/*Footer*/
.footer__logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.footer__logotype {
  color: var(--navigation-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}
.footer__list .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__address:hover,
.footer__address:focus {
  color: var(--navigation-color);
}
.city {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.city:hover,
.city:focus {
  color: var(--navigation-color);
}
.footer__address {
  color: var(--address-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-social {
  display: flex;
  justify-content: center;
  margin-left: 70px;
  flex-direction: column;
  width: 206px;
}

.footer-social__join {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-social .footer-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.footer-social .footer-social__item {
  fill: var(--accent-color);
}
.footer-social__icon:not(:nth-child(4n)) {
  margin-right: 10px;
}
.footer-social__item:hover,
.footer-social__item:focus {
  background-color: var(--navigation-color);
}

/* FOOTER FORM */

.subscribe-footer {
  margin-left: 93px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 570px;
}
.subscribe-footer__form {
  display: flex;
}
.subscribe-footer__button {
  border-radius: 4px;
  background-color: var(--navigation-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
  transition: background-color 250ms var(--timing-function);
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
}
.subscribe-footer__icon {
  fill: var(--accent-color);
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.subscribe-footer__button:hover,
.subscribe-footer__button:focus {
  background-color: var(--hover-navigation-color);
}
.subscribe-footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.subscribe-footer__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px 15px;
  width: 358px;
  height: 50px;
  color: var(--accent-color);
  background-color: transparent;
}
.subscribe-footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Portfolio*/

.poster {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.poster .poster__item {
  flex-basis: calc ((100%-60px) / 3);
  background-color: var(--button-portfolio-bckgrn);
}
.item-list {
  padding: 30px 0px;
}
.border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.thumb {
  position: relative;
  overflow: hidden;
}
.item:hover .actions {
  transform: translateY(0);
  /* opacity: 1; */
}
.actions {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-for-portfolio);
  transition: transform 250ms var(--timing-function);
  transform: translateY(101%);
  /* opacity: 0; */
}
.picture__resource {
  position: absolute;
  left: 24px;
  right: 24px;
  top: 63px;
  bottom: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: flex;
  justify-content: center;
}

/* Data-Modal */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  height: 100%;
  width: 100%;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--accent-color);
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
}
.modal__close-button:hover,
.modal__close-button:focus {
  fill: var(--navigation-color);
}

/* Практика по 6-ому модулі*/

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
.modal__form {
  text-align: center;
  width: 528px;
  height: 581px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px seagreen solid; */
  padding: 40px;
}
.form-field {
  position: relative;
  /* outline: 1px solid red; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form-field__label {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}
.form-field__input {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  /* margin: 0;  */
  color: var(--primary-text-color);
  font: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:hover,
.form-field__input:focus {
  outline: none;
  border-color: var(--navigation-color);
}
.form-field__input:hover + .form-field__icon,
.form-field__input:focus + .form-field__icon {
  fill: var(--navigation-color);
}
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.form-field__comment {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  height: 120px;
  width: 100%;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-field__comment:hover,
.form-field__comment:focus {
  outline: none;
  border-color: var(--navigation-color);
}
.check-form {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 14px;
}
.check-form__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  /* display: flex;
  align-items: center; */
}
.check-form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; */
}

.check-form__link {
  color: var(--navigation-color);
  margin-left: 4px;
  transition: color 250ms var(--timing-function);
}
.check-form__link:hover,
.check-form__link:focus {
  color: var(--hover-navigation-color);
}
.check-form__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 7px;
}
.check-form__checkbox:checked + .check-form__icon {
  background-color: var(--navigation-color);
  background-image: url("../images/icon.svg/check.svg");
  background-origin: border-box;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  border-color: var(--navigation-color);
}

.button-submit {
  border-radius: 4px;
  background-color: var(--navigation-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.button-submit:hover,
.button-submit:focus {
  background-color: var(--hover-navigation-color);
}
