.page-header__logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (max-width: 1200px) {
    font-size: 24px;
    line-height: 1.16;
  }
}
.page-header__logotype {
  color: var(--navigation-color);
}

.footer__logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;

  @media screen and (max-width: 1200px) {
    font-size: 24px;
    line-height: 1.16;
  }
}
.footer__logotype {
  color: var(--navigation-color);
}
